{% extends "layout.html" %}

{% block content%}
<!--TODO change this to include all student details-->
    <h1>Add New Student</h1>
    <form method="POST">
        <input type="text" id="name" name="name">
        <input type="submit" id="submit">
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">X</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}