{% extends "layout.html" %}

{% block content%}

    {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
            {{ message }}
          </div>
        {% endfor %}

      <table id="announcements" class="sortable">
        <h2 class="table-header">Announcements</h2>
          <tr>
              <th width="20%">Date</th>
              <th width="50%">Title</th>
              <th width="30%">Sender</th>
          </tr>

        {% for announcement in announcements %}
        <tr>
                <td class="tbl date" width="20%" sorttable_customkey="{{announcement['date']}}">{{announcement['date']|format_datetime('datetime')}}</td>
                <td class="tbl title" width="50%">
                    <a onclick="popUpWindow('{{url_for('view_announcement', announcement_id=announcement['_id'])}}','Example','700','600');" href="javascript:void(0);">{{announcement['title']}}</a>
                </td>
                <td class="tbl sender" width="30%">{{announcement['sender']}}</td>
            </tr>
        {% endfor %}

      </table>

<br>

    {% if user.role != "Student" %}
    <a href="{{url_for('add_announcement')}}" class="page-button">New Announcement</a>
    {% endif %}

{% endblock %}