<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='assets/login.css')}}">

</head>
<body>
<div class="page-container">
    <form method="post" action="{{url_for('login')}}">
        <div class="imgcontainer">
          <img src="{{ url_for('static',filename='images/logo.png')}}" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
            <br>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
              <br>
        {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
            <button
              type="button"
              class="close"
              data-dismiss="alert">
                x
              </button>
            {{ message }}
          </div>
        {% endfor %}

          <button type="submit">Login</button>

          <div class="container" style="background-color:#f1f1f1">
            <div class="psw"><a href="#">Forgot password?</a></div>
          </div>

          <label>
          </label>
        </div>

      </form>
</div>
</body>
</html>