<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='assets/login.css')}}">

</head>
<body>
<div class="page-container">
    <form method="post" action="{{url_for('login')}}">
        <div class="logo" style="padding:10px">
            <img width="140" height="49" src="/static/images/logo4.svg" class="icon">
        </div>

        <div class="container">
          <label for="id"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="id" required>
            <br>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
              <br>
        {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
            {{ message }}
          </div>
        {% endfor %}

          <button type="submit">Login</button>

          <div class="container" style="background-color:#f1f1f1">
            <div class="psw"><a href="#">Forgot password?</a></div>
          </div>

          <label>
          </label>
        </div>

      </form>
</div>
</body>
</html>