{% extends "layout.html" %}

{% block content %}
    <script>
        function detectChange(selectedSubjectCategory) {
            console.log(selectedSubjectCategory.value);
            if (selectedSubjectCategory.value == "past"){
                console.log("past is selected");
                location.href="{{url_for('my_subjects', category='past')}}" ;
            } else {
                console.log("current is selected");

              location.replace("{{url_for('my_subjects', category='current')}}");
            }
        }
    </script>

  <table id="subjects">
      <select name="subject_cat" id="subject_cat" onchange="detectChange(this)" >
          {% if cat == "past" %}
            <option value="current">Current Subjects</option>
            <option value="past" selected>Past Subjects</option>
          {% else %}
            <option value="current" selected>Current Subjects</option>
            <option value="past">Past Subjects</option>
          {% endif %}
      </select>
    <h2 class="table-header">My Subjects ({{subjects|count_results}})</h2>

      <tr>
          <th width="10%">Course Id</th>
          <th width="60%">Course Name</th>
          <th width="30%">Instructor</th>
      </tr>

    {% for subject in subjects %}
    <tr>
            <td class="tbl id">
                <span> {{subject['_id']}} </span>
            </td>
            <td class="tbl name">
                <a href="{{url_for('view_subject',subject_id=subject['_id'])}}">{{subject['subject_name']}}</a>
            </td>
            <td class="tbl options">
                {{subject['subject_teacher']}}
            </td>
        </tr>
    {% endfor %}
  </table>
    <br>

    <a href="{{url_for('all_subjects')}}" class="add-button page-button">Register for subject</a>

{% endblock %}