{% extends "layout.html" %}

{% block content %}

  <section class="search-and-user">
    <form>
      <input type="search" placeholder="Search...">
      <button type="submit" aria-label="submit form">
        <img src="{{url_for('static', filename='images/search.svg')}}">
      </button>
    </form>
  </section>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">X</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

  <table id="students" class="sortable">
      <h2 class="table-header"> Students ({{student_count}}) </h2>
      <tr>
          <th width="20%">Student ID</th>
          <th width="40%">Full Name</th>
          <th width="30%">Faculty</th>
          <th width="10%">Options</th>
      </tr>

    {% for student in students %}
        <tr>
            <td class="tbl id">{{ student['_id'] }}</td>
            <td class="tbl name">{{student['firstname'] + " " + student['lastname']}}</td>
            <td class="tbl faculty">{{student['faculty']}}</td>
            <td class="tbl options">
                <a href="{{url_for('view_student',student_id=student['_id'])}}">view</a>
                <a href="{{url_for('update_student',student_id=student['_id'])}}">edit</a>
            </td>
        </tr>
    {% endfor %}
  </table>
    <br>

    {% if user.role == "Administrator" %}
        <a href="{{url_for('addstudent')}}" class="page-button">Add New Student</a>
    {% endif %}

{% endblock %}
