<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{t}}</title>
</head>
<body>
    <div class="announcement-header">
        From: <b>{{ann['sender'] }}</b>
        Date: <b>{{ann['date']|format_datetime('datetime')}} </b> <br>
        Title: <b>{{ann['title']}} </b>
    </div>

    <div class="announcement-body">
        {{ann['body']}}
    </div>
    <script src={{url_for('static',filename='assets/index.js')}}></script>
<!--TODO: MAKE CSS TO STYLE ANOUNCEMENT PAGE-->
</body>
</html>