{% extends "layout.html" %}

{% block content %}


    <h1>{{subject['subject_name']}}</h1>
    <form method="POST">
        Course ID:     <input type="text" value={{subject['_id']}} readonly> <br>
        Course Instructor:   <input type="text" value="{{subject['subject_teacher']}}" readonly><br>
        Class location :    <input type="text" value="{{subject['location']}}" readonly><br>
        Maximum Headcount:      <input type="text" value="{{subject['max_headcount']}}" readonly><br>
        Current Headcount:  <input type="text" value="{{subject['current_headcount']}}" readonly><br>
        Student Level:      <input type="text" value="{{subject['student_level']}}" readonly><br>
        Subject Description:      <label >{{subject['subject_description']}}</label> <br>


        Enrolled Students:
        <ul>
            {% for student in subject['enrolled_students'] %}
                {% if student==user.id %}
            <li>- <b>{{student|get_student_name}}</b> </li>
                {% else %}
            <li>- {{student|get_student_name}} {% if user.role != "Student" %}- <a href="{{url_for('assign_grade', subject_id=subject['_id'], student_id=student)}}"><u>Assign Grade</u></a>{% endif %}</li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if user.role == "Student" %}
            {% if subject_completed %}
                Grade Attained: <b>{{grade}}</b>
                {% if grade==1 %}
                    {% if user.id in subject['enrolled_students'] %}
                    <br>
                    <img src="{{url_for('static', filename='images/yes.png')}}" height="20px">Currently Registered.<br><br>
                    <input type="submit" name="submit" value="Drop Subject" class="page-button">
                    {% else %}
                    <input type="submit" name="submit" value="Register for Subject"  class="page-button">
                    {% endif %}
                {% endif %}
            {% else %}
                {% if user.id in subject['enrolled_students'] %}
                    <br>
                    <img src="{{url_for('static', filename='images/yes.png')}}" height="20px">Currently Registered.<br><br>
                    <input type="submit" name="submit" value="Drop Subject" class="page-button">
                    {% else %}
                    <input type="submit" name="submit" value="Register for Subject"  class="page-button">
                    {% endif %}
            {% endif %}
        {% endif %}

    </form>


{% endblock %}